.container {
  padding: 8px 0px;
  border-bottom: 1px solid #e0e0e0;
  min-height: auto;
  height: auto;
  padding: 8px 8px 0px 8px;

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  transition: all 0.35s;

  &:hover {
    background-color: rgb(243, 243, 243);
    cursor: pointer;
  }
}

.content-text {
  flex-grow: 1;
  height: 100%;
  margin: 0px 8px;

  display: flex;
  flex-flow: column;

  > * {
    font-size: 1rem;
    margin: 4px 0px;
  }
}

.header-tweet {
  display: flex;
  place-items: center start;

  & span {
    font-size: 1.2rem !important;
    font-weight: 600;
  }

  & a {
    text-decoration: none;

    & time {
      list-style: disc;
      margin: 0px 8px;
      font-size: 0.9rem;
      color: #000;
      opacity: 0.75;

      span {
        font-weight: 700;
      }
    }
  }

  & a:hover {
    text-decoration: underline;
    color: #000000aa;
  }
}

.content-img-tweet {
  margin: 12px auto;
  height: auto;
  width: auto;

  .img-tweet {
    object-fit: contain;
  }
}
