.container {
  margin: 8px 0px;
  border-bottom: 1px solid #e0e0e0;
  min-height: auto;
  height: auto;
  padding: 12px 8px;

  display: flex;
  justify-content: flex-start;


}


.content-text {
  height: 100%;

  display: flex;
  flex-flow: column;

  * {
    font-size: 1rem;
    margin: 4px 0px;
  }

  & span {
    font-size: 1.2rem !important;
    font-weight: 600;
  }
}